.form-heading{
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.form-field {
  margin: 1rem;
}

.form-field > label {
  display: inline-block;
  width: 10em;
  text-align: right;
  padding-right: 0.5em;
  vertical-align: top;
}

.form-field .checkboxes,
.form-field .radiobuttons {
  display: inline-block;
}

.form-field .checkboxes label,
.form-field .radiobuttons label {
  text-align: left;
  padding-left: 0.5em;
}

input, textarea {
  width: 50%;
  max-width: 50%;
}

span.error {
  color: red;
  vertical-align: top;
}
