/* Importing colours.css to make variables available */

@import "colours.css";

.formContainer{
  grid-column: 2/3;
  text-align: center;
}

.form{
  display: inline-grid;
  grid-template-columns: min-content;
  justify-items: center;
}

.form-heading{
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.form-field {
  margin: .2rem 0 1rem 0;
  width: 30vw;
}

textarea, input{
  width: 95%;
  max-width: 95%;
  min-width: 95%;
}

.form-label {

}

.imageInput{
  align-self: end;
}

.formSubmitButton, .formSubmitButton:link, .formSubmitButton:visited{
  background-color: var(--white);
}

.formSubmitButton:hover{
  background-color: var(--black);
  color: var(--white);
}

.formCancelButton, .formCancelButton:link, .formCancelButton:visited{
  color: var(--black);
  background-color: var(--white);
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
}

.formCancelButton:hover{
  color: var(--white);
  background-color: var(--black);
  padding: 0.5rem;
}


span.error {
  color: var(--red);
  vertical-align: top;
}