.formContainer{
  grid-column: 2/3;
  text-align: center;
}

.form{
  display: inline-grid;
  grid-template-columns: min-content;
  justify-items: center;
}

.form-heading{
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.form-field {
  margin: .2rem 0 1rem 0;
  width: 30vw;
}

textarea, input{
  width: 95%;
  max-width: 95%;
  min-width: 95%;
}

.form-label {

}

.imageInput{
  align-self: end;
}

.formSubmitButton{
  background-color: white;
}

.formSubmitButton:hover{
  background-color: black;
  color: white;
}

.formCancelButton, .formCancelButton:link, .formCancelButton:visited{
  color: black;
  background-color: white;
  padding: 0.5rem;
  text-decoration: none;
}

.formCancelButton:hover{
  color: white;
  background-color: black;
  padding: 0.5rem;
}


span.error {
  color: red;
  vertical-align: top;
}